@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.font_family_roboto {
    font-family: "Roboto", sans-serif;

}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf');
}

.font_family_Helvetica {
    font-family: Helvetica;
}

.letter_sapacing_1px {
    letter-spacing: 1px;
}

.max_width_1140px {
    max-width: 1140px;
}

.max_width_440 {
    max-width: 440px;
}

.max_width_195px {
    max-width: 195px;
}

.max_width_1200 {
    max-width: 1200px;
}

.text_width_736px {
    max-width: 736px;
}

.padding_bottom_80px {
    padding-bottom: 80px;
}

.lastSection_padding_top {
    padding-top: 30px;
}



.pt_14px {
    padding-top: 14px;
}

.paddingTop_32px {
    padding-top: 32px;
}

.paddingTop_80px {
    padding-top: 80px;
}

.gap_11px {
    gap: 11px;
}

.py_94px {
    padding-top: 94px;
    padding-bottom: 94px;
}

.last_section_padding_bottom {
    padding-bottom: 50px;
}

.marginTop_20px {
    margin-top: 20px;
}

.padding_bottom_33 {
    padding-bottom: 33px;
}

.padding_bottom_30px {
    padding-bottom: 30px;
}

.gap_20px {
    gap: 20px;
}

.socialLinks_gap {
    gap: 10px;
}

.socialLlink_box {
    padding: 0 5px;
    background: var(--text-gray2);
    width: 26px;
    height: 16px;
    transition: all 400ms ease-in-out;
}

.socialLlink_box:hover {
    transform: translateY(-8px);
}

.growth_links {
    padding: 10px 14px;
    border-radius: 15px;
    border: 1px solid var(--bg-lightblack);
    background: var(--bg-lightblack);
    transition: all 400ms ease-in-out;
}

.active {
    border: 1px solid #A962FF;
}

.anybodies_logo_height_width {
    max-width: 240px;
    min-height: 52.57px;
}

.slider_text_card {
    max-width: 300px;
    min-height: 200px;
    background: #19161C;
}

.container_bg {
    left: 52%;
    background-image: url(../images/webp/container_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: translateX(-52%);
    bottom: -9%;
}

.lastSection_btn {
    padding: 14px 25px 16px;
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
    border-radius: 36px;
    border: 1px solid #000000;
    transition: all 400ms ease-in-out;
}

.lastSection_btn:hover {
    background: transparent;
    color: #8C01FA !important;
    border: 1px solid #8C01FA;
}

.slick-slide {
    margin-right: 10px;
    margin-left: 10px;
}

.footer_border {
    border: 1px solid var(--footer-border);
}


/* scrollbar  */
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #01D2B0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #8C01FA;


}



/* css by dushyant */
.container_width {
    max-width: 1140px;
}

.cursor_pointer {
    cursor: pointer;
}


/* section1-css */

.padding_top_40 {
    padding-top: 40px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.max_width_header_para {
    max-width: 589px;
}

.header_btn1 {
    background: var(--btn1-gradient);
    padding: 16px 33px;
    border-radius: 36px;
    border: 1px solid rgba(0, 0, 0, 1);
    transition: all 300ms ease-in-out;
}

.header_btn1:hover {
    background: rgba(0, 0, 0, 1);
    padding: 16px 33px;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.position_left_img {
    top: 0;
    left: 0;
}

.position_right_img {
    top: 0;
    right: 0;
}

/* section2-css */


.gradient_text {
    background: linear-gradient(to left, #19FB9B 50%, #8C01FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient_text2 {
    background: linear-gradient(to left, #0047FF 50%, #00BCD4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient_text3 {
    background: linear-gradient(to left, #00FFBD 50%, #025B8C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* section3-css */

.section3_box {
    background: #00000047;
    padding: 32px;
    border-radius: 24px;
    max-width: 340px;
}

.max_width_250 {
    max-width: 250px;
}

.section3_borderline {
    width: 2px;
    height: 33px;
    background: #1FCFF1;
}

.section3_borderline2 {
    width: 2px;
    height: 33px;
    background: #9945FF;
}

.section3_borderline3 {
    width: 2px;
    height: 33px;
    background: #FFD512
}

.section3_borderline4 {
    width: 2px;
    height: 33px;
    background: #19FB9B
}

.section3_baground_img {
    background-image: url(../images/webp/section3_img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.pt_64 {
    padding-top: 64px;
}

.pb_80 {
    padding-bottom: 80px;
}

/* slider-css */

.slick-slide .slick-track {
    overflow: hidden;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

/* nav-bar */

.bar {
    height: 5px;
    width: 35px;
    border-radius: 6px;
    background-color: white;
}

.menulist.show {
    right: 0;
}


.menuicon.show .bar:nth-child(1) {
    transform: translateY(5px) rotate(47deg);
    transition: all 400ms ease-in;

}

.menuicon.show .bar:nth-child(2) {
    display: none;
}

.menuicon.show .bar:nth-child(3) {
    transition: all 400ms ease-in;
    transform: translateY(-5px) rotate(-52deg);
}

@media (max-width:992px) {
    .menulist {
        flex-direction: column;
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 50 !important;
        background: black;
        transition: all 300ms linear;
    }

    .menuicon {
        z-index: 51 !important;
        display: flex !important;
        flex-direction: column;
        gap: 6px;
    }

    .zindex {
        z-index: 0 !important;
    }

}

@media (min-width:992px) {
    .padding_top_55 {
        padding-top: 55px;
    }

    .padding_top_124 {
        padding-top: 124px;
    }

    .padding_top_77 {
        padding-top: 77px !important;
    }
}

@media (min-width:576px) {
    .last_section_padding_bottom {
        padding-bottom: 70px;
    }

    .lastSection_padding_top {
        padding-top: 70px;
    }

}

@media (min-width:769px) {
    .last_section_padding_bottom {
        padding-bottom: 150px;
    }

    .lastSection_padding_top {
        padding-top: 125px;
    }

    .padding_top_125 {
        padding-top: 125px !important;
    }

    .padding_bottom_125 {
        padding-bottom: 125px !important;
    }
}

@media (min-width:992px) {
    .last_section_padding_bottom {
        padding-bottom: 208px;
    }
}